pipeline/inc_ingestion.json
{
	"name": "inc_ingestion",
	"properties": {
		"activities": [
			{
				"name": "lookupdata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "Select * from spotify_dev.metadata_tables.metadata",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DS_deltalake",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookupdata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookupdata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Checking Status",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().load_type,'full')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy full load tables",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_azure_sql",
												"type": "DatasetReference",
												"parameters": {
													"schema": {
														"value": "@item().table_name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}